Task 1
Create a pandas dataframe(DataFrame name as 'df')(10 observations and 5 features)

In [ ]:
import numpy as np
import pandas as pd
data = {
    'Name': ['Mahesh Babu','Samantha','Vijay Devarakonda','Rashmika','Brahmandam','Sunil','Jagapathi Babu','Rajendra Prasad','Sathya Raj','Allu Arjun','Sreeleela'],
        'Age':['48','36','34','27','67','49','61','67','68','41','22'],
         'Gender':['M','F','M','F','M','M','M','M','M','M','F'],
         'Role':['Hero','Heroine','Hero','Heroine','Comedians','Comedians','Side Actor','Side Actor','Side Actor','Hero','Heroine'],
         'Country':['India','India','India','India','India','India','India','India','India','India','India']
    }
df = pd.DataFrame(data)
df

                 Name Age Gender        Role Country
0         Mahesh Babu  48      M        Hero   India
1            Samantha  36      F     Heroine   India
2   Vijay Devarakonda  34      M        Hero   India
3            Rashmika  27      F     Heroine   India
4          Brahmandam  67      M   Comedians   India
5               Sunil  49      M   Comedians   India
6      Jagapathi Babu  61      M  Side Actor   India
7     Rajendra Prasad  67      M  Side Actor   India
8          Sathya Raj  68      M  Side Actor   India
9          Allu Arjun  41      M        Hero   India
10          Sreeleela  22      F     Heroine   India

Task-2
Check the info of'df'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     11 non-null     object
 1   Age      11 non-null     object
 2   Gender   11 non-null     object
 3   Role     11 non-null     object
 4   Country  11 non-null     object
dtypes: object(5)
memory usage: 568.0+ bytes

Task-3
Check the descriptive statistics of'df'

In [ ]:
df.describe()

               Name Age Gender  Role Country
count            11  11     11    11      11
unique           11  10      2     4       1
top     Mahesh Babu  67      M  Hero   India
freq              1   2      8     3      11

Task-4
Check the 4th index observation with 'loc' slicing operator

In [ ]:
df.loc[3]

Name       Rashmika
Age              27
Gender            F
Role        Heroine
Country       India
Name: 3, dtype: object

Task-5 Check the null values in your 'df'

In [ ]:
df.isnull().any() # To check the null value

Name       False
Age        False
Gender     False
Role       False
Country    False
dtype: bool

In [ ]:
df.isnull().sum() # To check the number of null value

Name       0
Age        0
Gender     0
Role       0
Country    0
dtype: int64